*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow', sans-serif;
    background: rgb(255, 255, 255);
    color: rgb(20, 28, 44);
}
html{
    scroll-behavior: smooth;
}
/*--Scroll--*/
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(211, 148, 77);
    border-radius: 3px;
}
/*-------------------------------Header-------------------------------*/
header{
    position: fixed;
    z-index: 100;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(14px);
    border-bottom: 1px solid rgb(211, 148, 77);
    height: 110px;
    transition: padding 0.3s ease, height 0.3s ease;
}
/*--Header achicado al hacer scroll--*/
.header-chico{
    padding: 0.05rem 3rem;
    height: 85px;
}
.header-chico .nav-logo{
    height: 85px;
}
.header-chico .nav-logo img{
    margin-top: 0;
}
.header-chico .nav-logo p{
    display: none;
}
/*--Logo principal--*/
.nav-logo{
    margin-left: 15px;
    margin-right: 20px;
    text-align: center;
    width: 90px;
    height: 95px;
}
.nav-logo a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.nav-logo img{
    width: 80px;
    height: 65px;
    margin-top: 5px;
}
.nav-logo p{
    color: rgb(20, 28, 44);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}
/*--Enlaces de navegacion--*/
.nav-enlaces{
    display: flex;
    gap: 2.2rem;
}
.nav-enlaces a{
    text-decoration: none;
    color: rgb(20, 28, 44);
    font-size: 18px;
    font-weight: 550;
    transition: color 0.3s ease;
}
.nav-enlaces .enlace-corto{
    display: none;
}
.nav-enlaces a:hover, .nav-enlaces a.activo{
    color: rgb(211, 148, 77);
}
/*--Logo whatsApp--*/
.nav-whatsapp{
    width: 45px;
    height: 45px;
}
.nav-whatsapp a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.nav-whatsapp img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.nav-whatsapp img:hover{
    transform: scale(1.1);
}
/*--Boton de cambiar modo claro/oscuro--*/
.nav-modo{
    width: 45px;
    height: 45px;
}
.nav-modo button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
}
.nav-modo img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}
.nav-modo img:hover{
    transform: scale(1.1);
}
/*----------------------Responsive para header----------------------*/
@media(max-width: 700px){
    header{
        flex-wrap: wrap;
        height: 110px;
        padding: 0;
        gap: 10px;
    }
    .nav-logo{
        order: 1;
        width: 65px;
        height: 70px;
        margin-top: 5px;
    }
    .nav-logo img{
        width: 60px;
        height: 50px;
    }
    .nav-logo p{
        font-size: 0.7rem;
    }
    .nav-whatsapp{
        margin-left: auto;
        order: 2;
        width: 40px;
        height: 40px;
    }
    .nav-modo{
        order: 3;
        width: 38px;
        height: 38px;
        margin-left: 5px;
        margin-right: 10px;
    }
    .nav-enlaces{
        order: 4;
        width: 100%;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .nav-enlaces a{
        font-size: 0.9rem;
        font-weight: 550;
    }
    .nav-enlaces .enlace-largo{
        display: none;
    }
    .nav-enlaces .enlace-corto{
        display: inline;
    }
    .header-chico{
        padding: 0;
        height: 88px;
    }
    .header-chico .nav-logo{
        height: 55px;
    }
}
/*------------------------Cuerpo de la pagina------------------------*/
/*--Boton flotante de llamada--*/
.div-llamada{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 5;
    background-color: rgb(20, 28, 44);
    padding: 15px 20px;
    border-radius: 35px;
    box-shadow: 0 0 20px rgb(211, 148, 77);
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 65px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-llamada img{
    width: 150%;
    height: 100%;
}
.div-llamada:hover{
    transform: scale(1.1);
}
/*--Ventana modal para llamada--*/
.div-modal-llamada{
    background-color: rgba(20, 28, 44, 0.8);
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 150;
}
.modal-llamada{
    background-color: rgb(20, 28, 44);
    width: 500px;
    padding: 15px;
    border-radius: 20px;
    margin: 50% auto;
    box-shadow: 0 0 20px rgb(211, 148, 77);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-llamada h2{
    color: rgb(255, 255, 255);
    margin-top: 1rem;
}
.modal-llamada p{
    margin-top: 1rem;
    color: rgb(93, 255, 225);
}
.modal-llamada a{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: rgb(20, 28, 44);
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 550;
    font-size: 1rem;
    text-decoration: none;
    transition: transform background-color 0.3s ease;
}
.modal-llamada a:hover{
    background-color: rgb(211, 148, 77);
}
.modal-llamada span{
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
/*--Boton flotante de ir arriba--*/
.div-boton-arriba{
    display: none;
    position: fixed;
    cursor: pointer;
    bottom: 90px;
    right: 25px;
    z-index: 5;
    background-color: rgb(20, 28, 44);
    padding: 5px 10px;
    border-radius: 35px;
    box-shadow: 0 0 20px rgb(211, 148, 77);
    transition: transform 0.3s ease;
    width: 45px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.div-boton-arriba.mostrar{
    display: flex;
    
}
.div-boton-arriba img{
    width: 130%;
    height: 100%;
}
.div-boton-arriba:hover{
    transform: scale(1.1);
}
/*---------Responsive para boton llamada y boton ir arriba---------*/
@media(max-width: 700px){
    .div-llamada{
        width: 60px;
        height: 55px;
        bottom: 8px;
        right: 10px;
    }
    .modal-llamada{
        width: 300px;
    }
    .modal-llamada h2{
        font-size: 1.3rem;
    }
    .modal-llamada span{
        font-size: 25px;
        right: 15px;
    }
    .div-boton-arriba{
        width: 40px;
        height: 35px;
        bottom: 70px;
        right: 20px;
    }
}
/*--------------------------Seccion Inicio--------------------------*/
/*--Banner principal--*/
.div-banner{
    display: flex;
    margin-top: 6.7rem;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0 98%);
    background:
    linear-gradient(
    to top right,
    rgb(211, 148, 77) 60%,
    rgb(20, 28, 44) 60%
    );
}
.div-imagen{
    flex: 1.15;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-imagen img{
    width: 100%;
    height: auto;
    display: block;
}
.div-titulo{
    flex: 1;
}
.div-titulo h2{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 5px 1px rgb(0, 0, 0);
}
.div-titulo h1{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 3rem;
    color: rgb(211, 148, 77);
    text-shadow: 0 5px 1px black;
}
/*---------------------Responsive para Banner---------------------*/
@media(max-width: 700px){
    .div-imagen img{
        width: 125%;
        height: 100%;
        padding-left: 28px;
    }
    .div-titulo{
        margin-left: -40px;
    }
    .div-titulo h2{
        font-size: 0.9rem;
        margin-top: 1.6rem;
        text-shadow: 0 3px 1px rgb(0, 0, 0);
    }
    .div-titulo h1{
        font-size: 1rem;
        margin-top: 0.7rem;
        text-shadow: 0 3px 1px rgb(0, 0, 0);
    }
}
/*--------Codigo para todas las secciones--------*/
section{
    margin-bottom: 4rem;
    scroll-margin-top: 85px;
}
/*-------------------------Seccion nosotros-------------------------*/
/*--Titulo--*/
.div-titulo-nosotros h2{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
}
/*--Descripcion--*/
.div-titulo-nosotros p{
    text-align: center;
    font-size: 1.3rem;
    padding: 0.5rem 15rem;
    line-height: 1.5;
    font-weight: 600;
}
.div-titulo-nosotros span{
    color: rgb(211, 148, 77);
}
/*--Contenedor de tarjetas--*/
.div-nosotros{
    display: flex;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1.2rem;
}
/*--Tarjetas--*/
.div-historia, .div-mision, .div-vision, .div-valores{
    border: 2px solid rgb(20, 28, 44);
    width: 25%;
    border-radius: 20px 0 20px 0;
}
/*--Titulo de tarjetas--*/
.div-historia h3, .div-mision h3, .div-vision h3, .div-valores h3{
    padding: 2px;
    text-align: center;
    font-size: 1.4rem;
    color: rgb(211, 148, 77);
    letter-spacing: 1px;
    text-shadow: 0 0 0.5px rgb(20, 28, 44);
}
/*--Descripcion de tarjetas--*/
.div-historia p, .div-mision p, .div-vision p, .div-valores p{
    padding: 5px 5px;
    font-weight: 550;
    line-height: 1.5;
}
.div-valores span{
    color: rgb(211, 148, 77);
    text-decoration: underline;
}
/*--------Galeria de imagenes de instalaciones--------*/
/*--Titulo--*/
.titulo-instalaciones{
    text-align: center;
    color: rgb(211, 148, 77);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    letter-spacing: 1px;
    text-shadow: 0 0 0.5px rgb(20, 28, 44);
}
/*--Imagenes--*/
.div-instalaciones-imagenes{
    padding-right: 2rem;
    padding-left: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
}
.div-instalaciones-imagenes img:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.div-instalaciones-imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/*----------------Responsive para seccion nosotros----------------*/
@media(max-width: 700px){
    .div-titulo-nosotros h2{
        font-size: 2rem;
        letter-spacing: 1px;
    }
    .div-titulo-nosotros p{
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
    .div-nosotros{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 0.6rem;
    }
    .div-historia, .div-mision, .div-vision, .div-valores{
        width: 100%;
    }
    .div-historia h3, .div-mision h3, .div-vision h3, .div-valores h3{
        font-size: 1.1rem;
    }
    .div-historia p, .div-mision p, .div-vision p, .div-valores p{
        font-size: 0.8rem;
    }
    .titulo-instalaciones{
        font-size: 1.5rem;
    }
    .div-instalaciones-imagenes{
        padding-right: 1rem;
        padding-left: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
/*-------------------------Seccion Servicios-------------------------*/
/*--Titulo--*/
.div-texto-servicios h2{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
}
/*--Descripcion--*/
.div-texto-servicios p{
    font-size: 1.3rem;
    text-align: center;
    padding: 0.5rem 15rem;
    line-height: 1.5;
    font-weight: 600;
}
.div-texto-servicios span{
    color: rgb(211, 148, 77);
}
/*--Contenedor de servicios e infraestructura--*/
.div-servicios{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
/*--Contenedor de tarjetas de servicios e infraestructura--*/
.div-servicios-programas, .div-servicios-infraestructura{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
/*--Tarjetas de servicios e infraestructura--*/
.div-servicio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18%;
    border: 2px solid rgb(20, 28, 44);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}
.div-servicio:hover{
    transform: translateY(-8px);
    border-color:rgb(211, 148, 77);
    box-shadow: 0 0 3px 3px rgb(20, 28, 44);
}
/*--Contenedor de imagen de servicio--*/
.div-imagen-servicio{
    background-color: rgb(211, 148, 77);
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
/*--Imagen de servicios--*/
.img-servicio{
    width: 60%;
}
/*--Titulo de servicios e infraestructura--*/
.div-descripcion-servicio h3, .div-descripcion-infraestructura h3{
    text-align: center;
    color: rgb(211, 148, 77);
    background-color: rgb(20, 28, 44);
    padding: 5px;
}
/*--Descripcion de servicios e infraestructura--*/
.div-descripcion-servicio p, .div-descripcion-infraestructura p{
    font-weight: 550;
    padding: 5px;
}
/*--Contenedor de boton de servicios e infraestructura--*/
.div-boton-servicio{
    display: flex;
    justify-content: center;
    margin-top: auto;
}
/*--Boton de servicios e infraestructura--*/
.div-boton-servicio button{
    margin-top: 1rem;
    margin-bottom: 5px;
    padding: 10px 50px;
    border-radius: 30px;
    border: none;
    background-color: rgb(211, 148, 77);
    color: rgb(20, 28, 44);
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}
.div-boton-servicio button:hover{
    background-color: rgb(20, 28, 44);
    color: rgb(211, 148, 77);
}
/*--Titulo de infraestrucutra--*/
.titulo-infraestructura{
    text-align: center;
    color: rgb(211, 148, 77);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    letter-spacing: 1px;
    text-shadow: 0 0 0.5px rgb(20, 28, 44);
}
/*--Contenedor de imagen de infraestructura--*/
.div-imagen-infraestructura{
    display: flex;
    justify-content: center;
}
/*--Imagen de infraestructura--*/
.img-infraestructura{
    width: 100%;
}
/*--Ventana modal para servicios e infraestructura--*/
.div-modal-servicio, .div-modal-infraestructura{
    background-color: rgba(20, 28, 44, 0.8);
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 150;
    align-items: center;
    justify-content: center;
}
.div-modal-servicio.activo, .div-modal-infraestructura.activo{
    display: flex;
}
/*--Modal de servicios--*/
.modal-servicio{
    background-color: rgb(20, 28, 44);
    width: 600px;
    border-radius: 20px;
    margin: 10% auto;
    box-shadow: 0 0 20px rgb(211, 148, 77);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.modal-servicio span{
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
.modal-servicio h1{
    padding: 1.6rem 3rem;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(211, 148, 77);
}
.div-descripcion-modal{
    padding: 0.5rem 2rem;
    background-color: rgb(211, 148, 77);
    width: 100%;
}
.div-descripcion-modal h2{
    color: rgb(20, 28, 44);
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.div-descripcion-modal p{
    color: rgb(20, 28, 44);
    font-size: 1rem;
    font-weight: 550;
    line-height: 3;
}
.div-boton-modal-servicio{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.div-boton-modal-servicio button{
    color: rgb(211, 148, 77);
    background-color: rgb(20, 28, 44);
    padding: 8px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}
.div-boton-modal-servicio button:hover{
    background-color: rgb(0, 0, 0);
}
/*--Modal de Infraestructura--*/
.modal-infraestructura{
    background-color: rgb(211, 148, 77);
    width: 600px;
    border-radius: 20px;
    margin: 10% auto;
    box-shadow: 0 0 20px rgb(211, 148, 77);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.modal-infraestructura h1{
    padding: 1rem;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(20, 28, 44);
}
.caja-descripcion-infra{
    background-color: rgb(20, 28, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-img-modal-infra{
    width: 70%;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.div-img-modal-infra img{
    width: 100%;
    height: 100%;
}
.modal-infraestructura h2{
    color: rgb(211, 148, 77);
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}
.modal-infraestructura p{
    color: white;
    text-align: center;
    width: 70%;
    font-size: 1rem;
    font-weight: 550;
    line-height: 2;
}
.modal-infraestructura span{
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
.div-boton-modal-infra{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.div-boton-modal-infra button{
    color: rgb(20, 28, 44);
    background-color: rgb(211, 148, 77);
    padding: 8px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}
.div-boton-modal-infra button:hover{
    background-color: rgb(255, 255, 255);
}
/*---------------Responsive para seccion servicios---------------*/
@media(max-width: 700px){
    .div-texto-servicios h2{
        font-size: 2rem;
        letter-spacing: 1px;
    }
    .div-texto-servicios p{
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
    .div-servicios{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .div-servicios-programas, .div-servicios-infraestructura{
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.8rem;
    }
    .div-servicio{
        width: 45%;
    }
    .div-descripcion-servicio p, .div-descripcion-infraestructura p{
        font-size: 1rem;
    }
    .div-boton-servicio button{
        padding: 10px 35px;
    }
    .titulo-infraestructura{
        font-size: 1.5rem;
    }
    .modal-servicio, .modal-infraestructura{
        width: 360px;
    }
    .modal-servicio h1, .modal-infraestructura h1{
        letter-spacing: 0;
    }
    .div-descripcion-modal h2{
        font-size: 1.5rem;
        letter-spacing: 0;
    }
    .modal-infraestructura h2{
        font-size: 1.5rem;
        letter-spacing: 0;
    }
}
/*-------------------------Seccion noticias-------------------------*/
/*--Titulo--*/
.div-titulo-novedades h2{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
}
/*--Descripcion--*/
.div-titulo-novedades p{
    font-size: 1.3rem;
    text-align: center;
    padding: 0.5rem 15rem;
    line-height: 1.5;
    font-weight: 600;
}
.div-titulo-novedades span{
    color: rgb(211, 148, 77);
}
/*--Contenedor del carrucel de imagenes--*/
.carrucel{
    position: relative;
    margin: 0.5rem auto;
    width: 70%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0, 0.7);
}
/*--Contenedor de imagen y texto del carrucel--*/
.div-galeria{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease;
    z-index: 1;
}
/*--Imagen del carrucel--*/
.div-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.div-galeria.activa{
    position: relative;
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
}
.div-galeria.saliendo{
    transform: translateX(-100%);
    opacity: 0;
    z-index: 2;
}
/*--Degradado oscuro inferior--*/
.div-galeria::before{
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.9) 0%,
        transparent 100%
    );
    pointer-events: none;
}
/*--Contenedor del texto del carrucel--*/
.div-descripcion-galeria{
    position: absolute;
    display: flex;
    z-index: 10;
    flex-direction: column;
    padding-left: 5%;
    left: 0;
    inset: 0;
}
/*--Texto del carrucel--*/
.div-descripcion-galeria h2{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1.5px;
    margin-top: 35%;
}
/*--Texto del carrucel--*/
.div-descripcion-galeria p{
    color: rgb(211, 148, 77);
    font-size: 2.5rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
/*--Contenedor de boton del carrucel--*/
.div-boton-carrucel{
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    z-index: 3;
    pointer-events: none;
}
/*--Boton del carrucel--*/
.btn-izquierda, .btn-derecha{
    pointer-events: all;
    background: rgba(0,0,0,0.4);
    border: none;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-izquierda img, .btn-derecha img{
    width: 30px;
    height: 30px;
}
.btn-derecha img:hover, .btn-izquierda img:hover{
    transform: scale(1.1);
}
/*---------------Responsive para seccion noticias---------------*/
@media(max-width: 700px){
    .div-titulo-novedades h2{
        font-size: 2rem;
        letter-spacing: 1px;
    }
    .div-titulo-novedades p{
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
    .carrucel{
        width: 95%;
        height: 260px;
    }
    .div-descripcion-galeria h2{
        font-size: 1.2rem;
        letter-spacing: 0;
        margin-top: 45%;
    }
    .div-descripcion-galeria p{
        font-size: 1.4rem;
        letter-spacing: 0;
    }
}
/*-------------------Seccion Preguntas frecuentes-------------------*/
/*--Contenedor de preguntas y testimonios--*/
.div-preguntas-clientes{
    display: flex;
}
/*--Contenedor de preguntas--*/
.div-preguntas{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 2rem;
    width: 40%;
}
/*--Titulo--*/
.div-preguntas h2{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
}
/*--Detalles de pregunta--*/
details{
    border-radius: 10px;
    border: 2px solid rgb(211, 148, 77);
    transition: border-color 0.3s;
    cursor: pointer;
 }   
details:hover{
    border-color: rgb(20, 28, 44);
}
details[open]{
    border-color: rgb(20, 28, 44);
}
/*--Titulo de pregunta e icono--*/
details summary{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 550;
    color: rgb(20, 28, 44);
}
details summary::-webkit-details-marker{
    display: none;
}
details summary::after{
    content: "+";
    margin-left: auto;
    color: rgb(211, 148, 77);
}
details[open] summary::after{
    content: "-";
    color: rgb(20, 28, 44);
}
/*--Icono de pregunta--*/
.div-icono img{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}
/*--Descripcion de pregunta--*/
.div-preguntas p{
    padding: 10px;
    color: rgb(20, 28, 44);
    font-size: 1rem;
    line-height: 1.5;
}
/*--Contenedor de testimonios--*/
.div-clientes{
    display: flex;
    flex-direction: column;
    width: 60%;
}
/*--Titulo--*/
.div-clientes h2{
    text-align: center;
    color: rgb(211, 148, 77);
    text-shadow: 0 0 0.5px rgb(20, 28, 44);
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
/*--Contenedor de imagen de testimonios--*/
.div-imagen-clientes{
    padding: 1rem 1rem;
}
/*--Imagen de testimonios--*/
.div-imagen-clientes img{
    box-shadow: 0 0 5px rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}
/*------------Responsive para preguntas y testimonios------------*/
@media(max-width: 700px){
    .div-preguntas-clientes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div-preguntas{
        width: 95%;
        padding-left: 0;
    }
    .div-preguntas h2{
        font-size: 2rem;
        letter-spacing: 1px;
    }
    .div-clientes{
        width: 95%;
    }
    .div-clientes h2{
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }
    .div-imagen-clientes{
        padding: 0 0.5rem;
    }
}
/*-------------------------Seccion contacto-------------------------*/
/*--Titulo--*/
.div-titulo-contacto h2{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
}
/*--Descripcion--*/
.div-titulo-contacto p{
    font-size: 1.3rem;
    text-align: center;
    padding: 0.5rem 15rem;
    line-height: 1.5;
    font-weight: 600;
}
.div-titulo-contacto span{
    color: rgb(211, 148, 77);
}
/*--Contenedor de mapa y formulario--*/
.div-mapa-contacto{
    display: flex;
    padding: 1rem 2rem 0;
    align-items: flex-start;
}
/*--Contenedor de mapa--*/
.div-mapa{
    width: 50%;
    height: auto;
}
/*--Imagen de mapa--*/
.div-mapa img{
    box-shadow: 0 0 5px rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/*--Contenedor de formulario--*/
.div-contacto{
    width: 50%;
    padding-left: 2rem;
}
/*--Contenedor de cada apartado del formulario--*/
.nombre, .apellido, .telefono, .correo, .grupo-combo, .mensaje{
    margin-bottom: 25px;
}
/*--Label de formulario--*/
.nombreUsuario, .apellidoUsuario, .telefonoUsuario, .correoUsuario, .titulo-combo, .mensajeUsuario{
    color: rgb(20, 28, 44);
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Bebas Neue', sans-serif;
}
/*--Input de formulario--*/
.nombre input, .apellido input, .telefono input, .correo input{
    width: 80%;
    height: auto;
    font-size: 0.9rem;
    padding: 5px;
    display: flex;
    background-color: rgba(131, 131, 131, 0.2);
    color: rgb(20, 28, 44);
}
/*--ComboBox de formulario--*/
.opciones-combo{
    width: 50%;
    font-size: 0.9rem;
    padding: 5px;
    background-color: rgba(131, 131, 131, 0.2);
    color: rgb(20, 28, 44);
}
/*--Opciones del comboBox--*/
.opciones-combo option{
    color: rgb(20, 28, 44);
}
/*--Textarea para ingresar mensaje--*/
.mensaje textarea{
    width: 80%;
    height: 70px;
    min-height: 70px;
    resize: vertical;
    font-size: 0.9rem;
    font-family: 'Barlow', sans-serif;
    padding: 5px;
    display: flex;
    text-align: center;
    background-color: rgba(131, 131, 131, 0.2);
    color: rgb(20, 28, 44);
}
/*--Contenedor del boton enviar--*/
.enviar{
    width: 70%;
}
/*--Boton enviar--*/
input[type="submit"]{
    width: 60%;
    background-color: rgb(211, 148, 77);
    color: rgb(20, 28, 44);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    transition: transform 0.3s ease;
}
input[type="submit"]:hover{
    transform: scale(1.05);
    background-color: rgb(255, 181, 44);
}
/*------------------------------Footer------------------------------*/
/*--Estilo del footer--*/
footer{
    padding: 3rem 2rem 1.5rem 6rem;
    background-color: rgb(223, 223, 223);
}
/*--Footer superior--*/
.div-footer{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 3rem;
    margin-bottom: 2rem;
}
/*--Ubicacion de footer--*/
.div-ubicacion img{
    width: 40px;
    height: 40px;
}
/*--Descripcion de ubicacion--*/
.div-ubicacion p{
    color: rgb(20, 28, 44);
    font-size: 1rem;
    line-height: 1.7;
}
/*--Titulos de footer--*/
.div-enlaces h4{
    color: rgb(211, 148, 77);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
/*--Contenedor de los enlaces del footer superior--*/
.enlaces{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
}
/*--Enlaces del footer superior--*/
.enlaces a{
    display: flex;
    color: rgb(20, 28, 44);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
    cursor: pointer;
}
.enlaces a:hover{
    color: rgb(211, 148, 77);
}
/*--Imagen de redes sociales--*/
.enlaces img{
    width: 35px;
    height: 35px;
}
/*--Descripcion de los enlaces--*/
.enlaces p{
    display: flex;
    align-items: center;
    padding-left: 5px;
}
/*--Linea divisoria--*/
hr{
    border: 1px solid rgb(211, 148, 77);
    width: 100%;
    left: 0;
    position: absolute;
}
/*--Footer inferior--*/
.div-footer-pie{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(20, 28, 44);
}
/*--Contenedor de los enlaces del footer inferior--*/
.footer-pie-links{
    display: flex;
    gap: 1.2rem;
    margin-left: 20px;
}
/*--Enlaces del footer inferior--*/
.footer-pie-links a{
    color: rgb(211, 148, 77);
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 600;
}
.footer-pie-links a:hover{
    color: rgb(20, 28, 44);
}


/*-----------------------------Modo oscuro/claro-----------------------------*/
body.dark{
    background-color: rgb(20, 28, 44);
    color: rgb(255, 255, 255);
}
body.dark::-webkit-scrollbar-track{
    background: rgb(20, 28, 44);
}
body.dark header{
    background-color: rgba(20, 28, 44, 0.8);
}
body.dark .nav-logo p{
    color: rgb(255, 255, 255);
}
body.dark .nav-enlaces a{
    color: rgb(255, 255, 255);
    font-weight: 550;
}
body.dark .nav-enlaces a:hover, body.dark .nav-enlaces a.activo{
    color: rgb(211, 148, 77);
}
body.dark .div-historia, body.dark .div-mision, body.dark .div-vision, body.dark .div-valores{
    border: 2px solid rgb(255, 255, 255);
}
body.dark .div-servicio{
    border: 2px solid rgb(211, 148, 77);
}
body.dark .div-servicio:hover{
    border-color: rgb(20, 28, 44);
    box-shadow: 0 0 3px 3px rgb(211, 148, 77);
}
body.dark .div-descripcion-servicio h3{
    background-color: white;
    color: rgb(20, 28, 44);
}
body.dark .div-descripcion-infraestructura h3{
    background-color: rgb(255, 255, 255);
    color: rgb(20, 28, 44);
}
body.dark .div-boton-servicio button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(20, 28, 44);
}
body.dark details:hover{
    border-color: rgb(255, 255, 255);
}
body.dark details[open]{
    border-color: rgb(255, 255, 255);
}
body.dark details summary{
    color: rgb(255, 255, 255);
}
body.dark details[open] summary::after{
    color: rgb(255, 255, 255);
}
body.dark .div-preguntas p{
    color: rgb(255, 255, 255);
}
body.dark .nombreUsuario, body.dark .apellidoUsuario, body.dark .telefonoUsuario, body.dark .correoUsuario, body.dark .titulo-combo, body.dark .mensajeUsuario{
    color: rgb(211, 148, 77);
}
body.dark .nombre input, body.dark .apellido input, body.dark .telefono input, body.dark .correo input{
    background-color: rgba(131, 131, 131, 0.4);
    color: rgb(255, 255, 255);
}
body.dark .opciones-combo{
    background-color: rgba(131, 131, 131, 0.4);
    color: rgb(255, 255, 255);
}
body.dark .mensaje textarea{
    background-color: rgba(131, 131, 131, 0.4);
    color: rgb(255, 255, 255);
}
body.dark footer{
    background-color: rgb(13, 18, 28);
}
body.dark .div-ubicacion p{
    color: rgb(255, 255, 255);
}
body.dark .enlaces a{
    color: rgb(255, 255, 255);
}
body.dark .enlaces a:hover{
    color: rgb(211, 148, 77);
}
body.dark .div-footer-pie{
    color: rgb(255, 255, 255);
}
body.dark .footer-pie-links a:hover{
    color: rgb(255, 255, 255);
}
